# Dependency directories
node_modules/
jspm_packages/

# Snowpack dependency directory (https://snowpack.dev/)
web_modules/



# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache



# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# firebase
database.rules.json
.firebaserc
firebase.json
